.accourdian {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
  direction: rtl;
}

.accourdian .lih {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-bottom: 1px dotted #dce7eb;
}
.accourdian .lih:nth-of-type(1) {
  animation-delay: 0.5s;
}
.accourdian .lih:nth-of-type(2) {
  animation-delay: 0.75s;
}
.accourdian .lih:nth-of-type(3) {
  animation-delay: 1s;
}
.accourdian .lih:last-of-type {
  padding-bottom: 0;
}
.accourdian .lih i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 10px;
  left: 5px;
}
.accourdian .lih i:before,
.accourdian .lih i:after {
  content: "";
  position: absolute;
  background-color: rgb(173, 173, 173);
  width: 3px;
  height: 9px;
}
.accourdian .lih i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.accourdian .lih i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.accourdian .lih input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.accourdian .lih input[type="checkbox"]:checked ~ div {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.accourdian .lih input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.accourdian .lih input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.task_item {
  padding: 10px;
  border-redios: 5px;
  border-radius: 9px;
  margin-bottom: 8px;
  padding-right: 17px;
  cursor: pointer;
  background-color: #dcdde1;
}

.task_item2 {
  border-bottom: 1px dotted #dce7eb;
  padding: 5px;
  border-redios: 5px;
  border-radius: 9px;
  margin-bottom: 8px;
  padding-right: 17px;
  cursor: pointer;
}

.task_item3 {
    border-bottom: 1px dotted #dce7eb;
    padding: 12px;
    border-redios: 5px;
    border-radius: 9px;
    margin-bottom: 8px;
    padding-right: 17px;
    cursor: pointer;
  }
  .task_item3:hover {
    background-color: #dcdde1;
  }

.task_item:hover {
  background-color: #dcdde1;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 14px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: rgb(39, 194, 108);
  border-radius: 5px;
  margin-right: 5px;
}
